@page "/"
@using Presentation.Components
@inject IJSRuntime JsRuntime

@code{
    private bool isVisible = true;

    protected override async Task OnInitializedAsync()
    {


        var token = await JsRuntime.InvokeAsync<string>("sessionStorage.getItem", "token");


        if (string.IsNullOrEmpty(token))
        {
            isVisible = false;
        }
        else
        {
            isVisible = true;
        }
    }
}
@if (!isVisible)
{
    <a href="/login">Login</a>
}
else
{
   <LogoutButton/>
}

<ShipmentTable/>

@if (isVisible)
{
    
    <a href="/addShipment">Add shipment</a>
}


